# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files
.venv/*
Python/Rules.txt
Python/Firewall_Visualization/Rules.txt
Python/Firewall_Visualization/SampleRules.txt
Python/Firewall_Visualization/Rules_1.txt
Python/Firewall_Visualization/Rules_2.txt
